.custom-underline {
    position: relative;
  }
  
  .custom-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px; /* Adjust the thickness of the underline */
    background-color: #FE8900; /* The color of the underline */
    bottom: -3px; /* Adjust this value to move the underline lower */
    left: 0;
  }
  